.box{
    background:#0f0f0f;
    width:300px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:5px;
    border: #9eb1a6 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:3px;
    font-weight:800;
    font-size:0.8em;
  }

  .trans {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  #movie_item {
    position: relative;
    margin-top: 10px;
    height: 175px;
}

  .box2{
    text-decoration: none;
	float: left;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 100px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
  }